<ion-view view-title="">
	<ion-content>

		<div class="list" style="background-color:#eeeeee;">
		
			<div class="item" style="background-color:#eeeeee;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">

				<h2>Management</h2>
				<p>Home / Management </p>

			</div>
			<div class="list" style="background-color:#ffffff;">

				<a class="item item-icon-left" ng-click="manage(1)" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">
					<i class="icon ion-ios-book"></i>Manage Bookings
				</a>


				<a class="item item-icon-left" ng-click="manage(2)" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">
					<i class="icon ion-map"></i> Slot Occupancy
				</a>

				<a class="item item-icon-left" ng-click="manage(3)" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">
					<i class="icon ion-settings"></i> Service Fullfillment
				</a>


				<a class="item item-icon-left" ng-click="manage(4)" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">
					<i class="icon ion-pie-graph"></i> Manage Reports
				</a>


				<a class="item item-icon-left" ng-click="manage(5)" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">
					<i class="icon ion-qr-scanner"></i> Code Verifier
				</a>

			</div>
		</div>
	</ion-content>
</ion-view>